@use 'globals/' as *;

$size: 3rem;
$max: 5;

.size {
	width: $size;
	height: $size;
	border-radius: $size;
}

.animation {
	transition: all 600ms ease-in-out;
}

.radial {
	display: grid;
	place-items: center;
	position: relative;
	filter: url('#goo');
	@extend .size;

	&:hover {
		.radial-background {
			scale: 4;
		}
		.radial-button {
			@for $i from 1 through $max {
				&-#{$i} {
					offset-distance: $i * (70% / $max);
					transition-delay: $i * 50ms;
					img {
						transition-delay: $i * 75ms;
						opacity: 1;
						scale: 0.7;
					}
				}
			}
		}
	}

	.radial-background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		@extend .size;
	}

	button {
		border: none;
		padding: 0;
		margin: 0;
		cursor: pointer;
		display: grid;
		place-items: center;
		background-color: $prime;
		@extend .size;
		img {
			width: $size * 0.5;
			height: $size * 0.5;
		}
	}

	.radial-button-center {
		position: relative;
		z-index: 3;
	}

	.radial-button {
		position: absolute;
		top: -$size * 0.86;
		left: -$size * 0.86;
		offset-distance: 100%;
		offset-path: path(
			'm.5,91.21c4.89,40.97,40.37,72.55,82.95,71.26,41.84-1.27,76.17-34.8,78.36-76.6C164.26,39.15,127.1.5,80.92.5,49.47.5,22.2,18.43,8.78,44.62.15,61.48,12.48,81.5,31.42,81.5h49.5'
		);
		z-index: 2;
		offset-rotate: 0deg;
		@extend .animation;

		img {
			opacity: 0;
			scale: 0;
			@extend .animation;
		}
	}
}
